<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta content="" name="description"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="stylesheet" href="../css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/main.css"/>
    <title>Portfolio</title>
</head>
<body>

<header class="portfolio-header">
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../index.html">
                    <img src="../images/logo.png" alt="logo">
                </a>
            </div>
            <div class="collapse navbar-collapse pull-right" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="../index.html">home</a></li>
                    <li><a href="about.html">about anna</a></li>
                    <li class="active"><a href="portfolio.html">portfolio</a></li>
                    <li><a href="news.html">news & tips</a></li>
                    <li><a href="press.html">press</a></li>
                    <li><a href="contact.html">contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<section class="section-portfolio">
    <div class="portfolio-wrapper">
        <div class="portfolio-sections">
            <h1>NEWS and <span>TIPS</span></h1>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 portfolio-img-box">
                        <div class="box-bg"></div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 portfolio-text-box">
                        <div class="text-wrap">
                            <div class="box-text">
                                <h3>so wall by casadeco</h3>
                                <p>
                                    CASADECO’s lastest panoramic collection, SO WALL. It is no longer just a
                                    matter of dressing a room, but a wall, in order to create a decorative element
                                    entirely apart, a genuine mural painting. So Wall offers you a large range of
                                    wallpanels in order to create a unique and successful concept with your
                                    feature walls. The range is varied so that everyone can find what they are
                                    looking for : You will be able to create a loft ambiance with raw and very trendy
                                    material effects but also a more soothing ambiance with a floral and poetical
                                    atmosphere.
                                </p>
                                <a href="portfolio-inner.html" class="show-more">more</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 portfolio-img-box">
                        <div class="box-bg"></div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 portfolio-text-box">
                        <div class="text-wrap">
                            <div class="box-text">
                                <h3>unfold by form us with love</h3>
                                <p>
                                    This fantastically versatile pendant light works in both the residential and
                                    commercial environment. Unfold’s soft silicon rubber shade creates a ique
                                    and playful take on the classic industry lamp design. With a warm modern
                                    appearance, the choice of material and variety of available colours makes
                                    Unfold an affordable design lamp. Shown here in a recent project Aucand
                                    the Unfold hangs over a up cycled dining table in a purpose banquette.
                                    This fresh Scandinavian design scheme reflects the Auckland harbor seen
                                    from the room. It is a relaxed functional space for a busy family.
                                </p>
                                <a href="portfolio-inner.html" class="show-more">more</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 portfolio-img-box">
                        <div class="box-bg"></div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 portfolio-text-box">
                        <div class="text-wrap">
                            <div class="box-text">
                                <h3>cole & son launches geometric</h3>
                                <p>
                                    Yesterday evening Icon fabrics Launched the latest Cole and Son wallpaper
                                    collect. Amid bubbles and exquisite canapes we were allowed to see the
                                    behind the scene drawings and hand painted designs which had evolved
                                    into this stunning collection.
                                    Geometric II is a range of eleven exciting and contemporary designs, created
                                    as a follow up to the successful Geometric Collection from 2011.
                                </p>
                                <a href="portfolio-inner.html" class="show-more">more</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 portfolio-img-box">
                        <div class="box-bg"></div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 portfolio-text-box">
                        <div class="text-wrap">
                            <div class="box-text">
                                <h3>harlequin's new purity collection</h3>
                                <p>
                                    These new Purity fabrics from Harlequin are breathtaking in their simplicity,
                                    and will give an air of understated opulence to both classical and contemp
                                    interior schemes. Timeless and luxurious a contemporary appeal, Purity
                                    encompasses metallic threads, lustrous inks, pearlescent sequins to add
                                    an understated twist to the collection.
                                    Purity wall coverings include contemporary damasks, lace inspired
                                    emblems, and sophisticated floral trails.
                                </p>
                                <a href="portfolio-inner.html" class="show-more">more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="footer-item firm-description">
                    <img src="../images/logo.png" alt="logo">
                    <p class="description-text">
                        This is Photoshop's version of Lorem Ipsn ida nibh vel
                        velit auctor aliquet. Aenean sollicitudin, lorem quis
                        bibendum auci elit consequat ipsutis sem nibh id
                        elit she.
                    </p>
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        <li><a href="#"></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 col-lg-offset-1">
                <div class="footer-item help">
                    <h5 class="title">help</h5>
                    <ul class="inner-titles">
                        <li><a href="#">Safety and Trust</a></li>
                        <li><a href="#">Terms and Services</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                <div class="footer-item company">
                    <h5 class="title">company</h5>
                    <ul class="inner-titles">
                        <li><a href="../index.html">Home</a></li>
                        <li><a href="about.html">About Anna</a></li>
                        <li><a href="portfolio.html">Portfolio</a></li>
                        <li><a href="news.html">News & Tips</a></li>
                        <li><a href="press.html">Press</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
                <div class="footer-item img-wrapper">
                    <img src="../images/footer-sm-bg-1.jpg" alt="img">
                    <img src="../images/footer-sm-bg-2.jpg" alt="img">
                    <img src="../images/footer-sm-bg-3.jpg" alt="img">
                    <img src="../images/footer-sm-bg-4.jpg" alt="img">
                    <img src="../images/footer-sm-bg-5.jpg" alt="img">
                    <img src="../images/footer-sm-bg-6.jpg" alt="img">
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="../js/js-libs.min.js"></script>
<script src="../js/common.js"></script>
</body>
</html>