<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta content="" name="description"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="stylesheet" href="../css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/main.css"/>
    <title>Press</title>
</head>
<body>

<header class="press-header">
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../index.html">
                    <img src="../images/logo.png" alt="logo">
                </a>
            </div>
            <div class="collapse navbar-collapse pull-right" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="../index.html">home</a></li>
                    <li><a href="about.html">about anna</a></li>
                    <li><a href="portfolio.html">portfolio</a></li>
                    <li><a href="news.html">news & tips</a></li>
                    <li class="active"><a href="press.html">press</a></li>
                    <li><a href="contact.html">contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<section class="section-press">
    <div class="tiles-wrapper">
        <h1>press</h1>
        <div class="grid">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 item">
                        <img src="../images/press/habitat.jpg" alt="">
                        <a href="#">
                            <h2>HABITAT SUMMER 2012/13</h2>
                            <p>Posted Feb 10, 2016</p>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 item">
                        <img src="../images/press/house-nz.jpg" alt="">
                        <a href="#">
                            <h2>HOUSE AND GARDEN NZ FEB 2014</h2>
                            <p>Posted Feb 10, 2016</p>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 item">
                        <img src="../images/press/home_building.jpg" alt="">
                        <a href="#">
                            <h2>HOME AND BUILDING</h2>
                            <p>Posted Feb 10, 2016</p>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 item">
                        <img src="../images/press/noelle.jpg" alt="">
                        <a href="#">
                            <h2>NOELLE MCCARTHY INTERVIEW</h2>
                            <p>Posted Feb 10, 2016</p>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 item">
                        <img src="../images/press/bathroom.jpg" alt="">
                        <a href="#">
                            <h2> BATHROOM DESIGN IN RESENE’S
                                HABITAT MAGAZINE MARCH 2012
                            </h2>
                            <p>Posted Feb 10, 2016</p>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 item">
                        <img src="../images/press/canvas.jpg" alt="">
                        <a href="#">
                            <h2>CANVAS AUGUST 2008</h2>
                            <p>Posted Feb 10, 2016</p>
                        </a>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 item">
                        <img src="../images/press/winter.jpg" alt="">
                        <a href="#">
                            <h2>SIMPLY YOU LIVING WINTER 2013</h2>
                            <p>Posted Feb 10, 2016</p>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 item">
                        <img src="../images/press/trends.jpg" alt="">
                        <a href="#">
                            <h2>TRENDS NEW HOME VOL 27</h2>
                            <p>Posted Feb 10, 2016</p>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 item">
                        <img src="../images/press/urbis.jpg" alt="">
                        <a href="#">
                            <h2>URBIS</h2>
                            <p>Posted Feb 10, 2016</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="footer-item firm-description">
                    <img src="../images/logo.png" alt="logo">
                    <p class="description-text">
                        This is Photoshop's version of Lorem Ipsn ida nibh vel
                        velit auctor aliquet. Aenean sollicitudin, lorem quis
                        bibendum auci elit consequat ipsutis sem nibh id
                        elit she.
                    </p>
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        <li><a href="#"></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 col-lg-offset-1">
                <div class="footer-item help">
                    <h5 class="title">help</h5>
                    <ul class="inner-titles">
                        <li><a href="#">Safety and Trust</a></li>
                        <li><a href="#">Terms and Services</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                <div class="footer-item company">
                    <h5 class="title">company</h5>
                    <ul class="inner-titles">
                        <li><a href="../index.html">Home</a></li>
                        <li><a href="about.html">About Anna</a></li>
                        <li><a href="portfolio.html">Portfolio</a></li>
                        <li><a href="news.html">News & Tips</a></li>
                        <li><a href="press.html">Press</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
                <div class="footer-item img-wrapper">
                    <img src="../images/footer-sm-bg-1.jpg" alt="img">
                    <img src="../images/footer-sm-bg-2.jpg" alt="img">
                    <img src="../images/footer-sm-bg-3.jpg" alt="img">
                    <img src="../images/footer-sm-bg-4.jpg" alt="img">
                    <img src="../images/footer-sm-bg-5.jpg" alt="img">
                    <img src="../images/footer-sm-bg-6.jpg" alt="img">
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="../js/js-libs.min.js"></script>
<script src="../js/common.js"></script>
</body>
</html>