section {
  &.section {
    color: $content-main-text-color;
    &.section-box-wrapper {
      div[class^=col] {
        padding: 0;
        .row {
          margin: 0;
        }
      }
      .sm-images-wrapper {
        .box {
          .sm-images {
            div {
              height: 241px;
              width: 50%;
              float: left;
              &:first-child {
                background-color: $sky-green;
                margin-bottom: 6px;
              }
              &:nth-child(2) {
                background-image: url(../images/big-logo.jpg);
                background-position: center center;
                background-size: cover;
                background-repeat: no-repeat;
                margin-bottom: 6px;
              }
              &:nth-child(3) {
                background-color: $green-box-bg;
              }
              &:last-child {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $gray-box-bg;
                p {
                  text-align: center;
                  color: $white;
                  font-size: 25px;
                  line-height: normal;
                  text-transform: uppercase;
                  margin: 0;
                }
              }
            }
          }
          .person {
            .img-holder {
              background-image: url(../images/her-photo.jpg);
              background-size: cover;
              background-position: top center;
              min-height: 488px;
            }
          }
        }
      }
      .person-info {
        .box {
          .title-wrapper {
            padding: 0 10px;
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            height: 100%;
            .title {
              line-height: 1;
              color: $black;
              &:first-child {
                span {
                  color: $light-green;
                }
              }
            }
            p {
              margin: 10px 0 0 0;
              font-size: 15px;
              &:after {
                content: '';
                display: block;
                width: 117px;
                height: 60px;
                background-image: url(../images/signature.png);
                background-size: 100% 100%;
                position: relative;
                margin-left: auto;
              }
            }
          }
          .logos {
            & > div {
              min-height: 244px;
              display: flex;
              padding: 0 0 10px 10px;
              a {
                margin: 0;
                text-decoration: none;
                font-size: 35px;
                text-transform: capitalize;
                line-height: 1;
              }
              &:first-child {
                background-color: $light-green;
                align-items: flex-end;
                a {
                  color: $white;
                  flex-basis: 40%;
                }
              }
              &:last-child {
                background-color: $white;
                flex-direction: column;
                justify-content: center;
                a {
                  color: $light-green;
                  max-width: 190px;
                }
                span {
                  color: $light-green;
                  text-transform: uppercase;
                  line-height: 1;
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
      .person-cite {
        background-image: url(../images/chairs.jpg);
        .box {
          .testimonial {
            z-index: 1;
            height: 100%;
            cursor: pointer;
            div {
              height: 100%;
              display: flex;
              align-items: center;
              article {
                width: 100%;
                .text-holder {
                  margin-bottom: 30px;
                  background-color: $white;
                  opacity: 0.761;
                  max-width: 100%;
                  position: relative;
                  p {
                    &.content {
                      font-size: 25px;
                      color: $black;
                      padding: 33px 0;
                      width: 590px;
                      text-align: center;
                      margin: 0 auto;
                    }
                  }
                  &:before {
                    content: "";
                    position: absolute;
                    z-index: 2;
                    left: 28px;
                    top: -30px;
                    width: 65px;
                    height: 60px;
                    background: url(../images/bloquotTop.png);
                  }
                  &:after {
                    content: "";
                    position: absolute;
                    z-index: 2;
                    right: 28px;
                    bottom: -30px;
                    width: 65px;
                    height: 60px;
                    background: url(../images/bloquotBottom.png);
                  }
                }
              }
            }
          }
        }
      }
      .md-images {
        .box {
          .inner-bg {
            background-image: url(../images/interior.jpg);
            background-size: cover;
            height: 100%;
            &:last-child {
              background-image: url(../images/bathroom.jpg);
            }
          }
        }
      }
    }
    &.services {
      position: relative;
      height: 675px;
      padding-top: 75px;
      &:before {
        content: '';
        background-color: $light-gray;
        position: absolute;
        top: 0;
        left: 40%;
        right: 0;
        bottom: 55px;
      }
      .service-bg {
        background-image: url(../images/service.jpg);
        background-size: cover;
        height: 505px;
      }
      .service-subtitles {
        padding-top: 76px;
        h2 {
          margin: 0 0 45px 0;
          &.title {
            position: relative;
            color: $title-color;
            &:after {
              content: '';
              position: absolute;
              bottom: -10px;
              right: 30%;
              width: 150%;
              background-color: $light-green;
              height: 2px;
            }
          }
        }
      }
      .block-wrapper {
        &:first-child {
          .service-block {
            &:before {
              background-image: url(../images/icon/crop.png);
            }
          }
        }
        &:nth-child(2) {
          .service-block {
            &:before {
              background-image: url(../images/icon/cursor.png);
            }
          }
        }
        &:nth-child(3) {
          .service-block {
            &:before {
              background-image: url(../images/icon/house.png);
            }
          }
        }
        &:last-child {
          .service-block {
            &:before {
              background-image: url(../images/icon/cursor2.png);
            }
          }
        }
        .service-block {
          position: relative;
          transform: translateX(20%);
          &:before {
            content: "";
            display: block;
            width: 28px;
            height: 28px;
            position: absolute;
            transform: translateX(-130%);
            top: 0;
            background-repeat: no-repeat;
          }
          h4 {
            font-size: 20px;
            text-transform: capitalize;
            color: $black;
          }
          p {
            &.service-block-description {
              font-size: 16px;
            }
          }
        }
      }
    }
    &.gallery {
      position: relative;
      .title-wrapper {
        max-width: 82%;
        margin: 0 auto;
        .title {
          text-align: center;
          color: $title-color;
          border-bottom: 1px solid $title-color;
          padding-bottom: 10px;
          margin-bottom: 65px;
          span {
            color: $light-green;
          }
        }
      }
      .grid {
        .img-box {
          position: relative;
          padding: 0;
          overflow: hidden;
          &:hover {
            img {
              transform: scale(1.1);
            }
            .box-name {
              opacity: 0;
            }
            .overlay {
              opacity: 1;
              background-color: rgba(0, 0, 0, 0.4);
            }
          }
          &.view {
            img {
              width: 100%;
              max-width: 100%;
            }
            .box-name {
              opacity: 1;
              background-color: transparent;
              a {
                font-size: 40px;
                text-transform: capitalize;
                color: $white;
                text-align: center;
              }
            }
          }
          img {
            width: 100%;
            max-width: 100%;
            transition: transform 0.7s;
            height: initial;
          }
          .box-name {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 1;
            transition: 0.7s ease;
            background-color: rgba(0, 0, 0, 0.6);
            h3 {
              margin: 0;
              color: $white;
              font-size: 40px;
              text-transform: uppercase;
            }
          }
          .overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            transition: 0.7s ease;
            a {
              font-size: 100px;
              color: $white;
              display: flex;
              justify-content: center;
              align-items: center;
              height: 100%;
              width: 100%;
            }
            opacity: 0;
          }
        }
      }
    }
    &.categories {
      padding: 60px 0;
      background-image: url(../images/categoryBack.png);
      background-size: cover;
      background-repeat: no-repeat;
      div[class^=col] {
        margin-top: 20px;
      }
      .title {
        text-align: center;
        color: $title-color;
        border-bottom: 1px solid $title-color;
        padding-bottom: 10px;
        margin-bottom: 65px;
        span {
          color: $light-green;
        }
      }
      figure {
        margin: 0;
        img {
          width: 100%;
        }
        h3 {
          font-size: 30px;
          color: $title-color;
          text-align: center;
          text-transform: capitalize;
        }
        figcaption {
          font-size: 20px;
          text-align: center;
          margin-bottom: 20px;
          &.second {
            margin-top: 42px;
          }
          &.third {
            margin-top: 42px;
          }
        }
        a {
          width: 100px;
          display: block;
          height: 40px;
          margin: 0 auto;
          background-color: $light-green;
          span {
            color: $white;
            width: 100px;
            display: block;
            height: 40px;
            line-height: 38px;
            font-size: 20px;
            text-align: center;
          }
        }
      }
    }
    &.contact {
      position: relative;
      h2 {
        font-size: 45px;
        color: $white;
        text-align: center;
        position: absolute;
        top: 125px;
        width: 100%;
        margin: 0;
        text-transform: uppercase;
      }
      img {
        max-width: 100%;
        &.main-bg {
          width: 100% !important;
        }
      }
      .container {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-40%);
      }
      .contact-box {
        padding: 50px 0;
        background-color: $white;
        text-align: center;
        &.email {
          padding-bottom: 85px;
        }
        &.number {
          padding-bottom: 89px !important;
        }
        img {
          height: 62px;
        }
        h3 {
          margin: 25px 0 45px 0;
          text-transform: capitalize;
        }
        a {
          font-size: 25px;
          color: inherit;
          &.phone-number {
            font-size: 15px;
            display: inline-block;
            padding-top: 10px;
            &:last-child {
              margin-left: 30px;
            }
          }
        }
      }
      a {
        &.logo-button {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: 40px;
          width: 198px;
          height: 60px;
          display: block;
          background-color: $white;
          background-image: url(../images/contact_button_bg.png);
          background-position: center center;
          background-repeat: no-repeat;
        }
      }
    }
  }
}










