@media (max-width: 767px) {
  header {
    .navbar {
      background-color: $gray-box-bg;
      .navbar-collapse {
        float: none !important;
        background-color: $gray-box-bg;
        overflow: hidden;
        ul {
          &.nav {
            li {
              max-width: 150px;
              margin: 0 auto;
              a {
                text-align: center;
                line-height: 60px;
              }
              & + li {
                margin: 0 auto;
              }
            }
          }
        }
      }
    }
    .page-information-wrapper {
      .inner-text {
        padding-right: 0;
        h1 {
          font-size: 40px;
        }
        p {
          font-size: 30px;
        }
      }
    }
  }
  section {
    margin-bottom: 30px;
    &.section-box-wrapper {
      .sm-images-wrapper {
        div[class^=col] {
          padding: 0 15px;
        }
        .box {
          .sm-images {
            div {
              &:last-of-type {
                p {
                  font-size: 25px !important;
                }
              }
            }
          }
        }
      }
      .person-info {
        background-image: none !important;
        padding: 20px 15px 0 15px !important;
        margin-bottom: 25px;
        .box {
          height: initial;
          .title-wrapper {
            margin: 0 auto !important;
            text-align: center;
            p {
              width: auto !important;
            }
          }
          .logos {
            margin-top: 15px;
          }
        }
      }
    }
    &.services {
      height: initial !important;
      &:before {
        display: none;
      }
      .block-wrapper {
        .service-block {
          transform: translateX(0) !important;
          margin-left: 40px;
        }
      }
    }
    &.gallery {
      img {
        width: 100%;
      }
    }
    &.categories {
      div[class^=col] {
        & + div[class^=col] {
          margin-top: 30px;
        }
      }
    }
    &.contact {
      h2 {
        top: 10px !important;
        font-size: 30px !important;
      }
      img {
        &:first-of-type {
          display: none;
        }
      }
      .container {
        position: static !important;
        transform: translateY(0) !important;
        .contact-box {
          padding: 20px 0 !important;
          h3 {
            margin: 10px 0;
          }
        }
      }
      a {
        &.logo-button {
          border: 1px solid $gray-box-bg;
          border-radius: 4px;
          position: static !important;
          margin: 0 auto;
          transform: translateX(0) !important;
        }
      }
    }
  }
}

@media (min-width: 480px) and (max-width: 991px) {
  section {
    &.section-box-wrapper {
      .person-info {
        .box {
          .logos {
            & > div {
              &:first-child {
                justify-content: center;
                align-items: center !important;
              }
              &:last-child {
                align-items: center;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  header {
    .navbar {
      .navbar-collapse {
        ul {
          &.navbar-nav {
            li {
              a {
                font-size: 15px;
                padding: 0;
              }
            }
          }
        }
      }
    }
  }
  section {
    &.section-box-wrapper {
      .sm-images-wrapper {
        .box {
          .sm-images {
            div {
              &:last-child {
                p {
                  font-size: 20px !important;
                }
              }
            }
          }
        }
      }
      .person-info {
        background-image: none !important;
        .title-wrapper {
          p {
            width: auto !important;
            &:after {
              top: 0 !important;
            }
          }
        }
      }
    }
    &.services {
      height: initial !important;
      &:before {
        display: none;
      }
      margin-bottom: 30px;
      .block-wrapper {
        .service-block {
          transform: translateX(0) !important;
          margin-left: 20px;
        }
      }
    }
    &.gallery {
      img {
        width: 100%;
      }
    }
    &.contact {
      margin-bottom: 30px;
      h2 {
        top: 55px !important;
        font-size: 30px !important;
      }
      img {
        &:first-of-type {
          display: none;
        }
      }
      .container {
        position: static !important;
        transform: translateY(0) !important;
        .contact-box {
          padding: 20px 0 !important;
          h3 {
            margin: 10px 0;
          }
        }
      }
      a {
        &.logo-button {
          border: 1px solid $gray-box-bg;
          border-radius: 4px;
          position: static !important;
          margin: 0 auto;
          transform: translateX(0) !important;
        }
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1023px) {
  section {
    &.section-box-wrapper {
      .person-info {
        .box {
          .title-wrapper {
            p {
              &:after {
                height: 40px !important;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  section {
    &.section-box-wrapper {
      .person-info {
        .title-wrapper {
          p {
            width: auto !important;
          }
        }
      }
    }
    &.services {
      height: initial !important;
      margin-bottom: 65px;
      .block-wrapper {
        .service-block {
          transform: translateX(0) !important;
          margin-left: 20px;
        }
      }
    }
    &.categories {
      figure {
        h3 {
          margin-bottom: 0;
        }
        figcaption {
          margin-top: 30px !important;
        }
        .second {
          margin-top: 30px !important;
        }
      }
    }
  }
}

@media (min-width: 1200px) and (max-width: 1439px) {
  section {
    &.contact {
      h2 {
        top: 30px !important;
      }
      a {
        &.logo-button {
          bottom: 5px !important;
        }
      }
    }
  }
}

@media (min-width: 1889px) {
  header {
    .container {
      width: 1600px;
    }
  }
  section {
    &.services {
      .container {
        width: 1600px !important;
      }
    }
    &.categories {
      .container {
        width: 1600px;
      }
    }
    &.contact {
      .container {
        width: 1600px;
      }
    }
  }
  footer {
    .container {
      width: 1600px;
    }
  }
}


