section {
  &.section-portfolio-inner {
    background-color: $white;
    .portfolio-wrapper {
      background-color: $white;
      .portfolio-inner-content {
        z-index: 1;
        position: relative;
        background-color: $white;
        margin: 0 auto;
        margin-top: -65px;
        max-width: 89%;
        padding-top: 66px;
        .text-content {
          margin-bottom: 60px;
          h1 {
            font-size: 34px;
            color: $angle-color;
            line-height: 1;
            text-transform: uppercase;
            margin: 0 0 65px 0;
            padding-left: 20px;
            border: none;
            border-left: 1px solid $light-green;
          }
          p {
            font-size: 21px;
            font-weight: 300;
            text-transform: inherit;
            line-height: normal;
            margin: 0;
            &:first-of-type {
              margin-bottom: 50px;
            }
          }
        }
        .img-content {
          img {
            margin: 0 auto !important;
            height: auto;
          }
        }
        .slider {
          .portfolio-inner-slider {
            cursor: pointer !important;
            margin-top: 66px;
            margin-bottom: 0;
            img {
              max-width: 100%;
              margin: 0 auto;
            }
            button {
              margin: 0;
              transform: translateY(-50%);
              width: 65px;
              height: 50px;
              &:before {
                display: none;
              }
              &.slick-prev {
                left: -15px;
                background-image: url(../images/portfolio/portfolio-slider-prev.png);
              }
              &.slick-next {
                right: -15px;
                background-image: url(../images/portfolio/portfolio-slider-next.png);
              }
            }
          }
        }
        .back-link {
          margin: 40px 0;
          a {
            &.back {
              width: 226px;
              height: 50px;
              display: flex;
              margin-left: auto;
              justify-content: space-around;
              align-items: center;
              border: 1px solid $back-link-border-color;
              color: $angle-color;
              border-radius: 3px;
              transition: 0.5s ease;
              &:hover {
                color: $light-green;
                border-color: $light-green;
              }
              i {
                font-size: 25px;
                line-height: 0.8;
              }
              span {
                text-transform: uppercase;
                font-size: 16px;
                font-weight: 300;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .slider {
    button {
      display: none !important;
    }
  }
  .back-link {
    a {
      &.back {
        width: 200px !important;
        margin-left: auto;
        span {
          font-size: 14px;
        }
      }
    }

  }
}