header {
  &.portfolio-header {
    min-height: 242px;
    background-image: url(../images/portfolio-header-bg.jpg);
    .navbar {
      z-index: 2;
    }
  }
}

section {
  &.section-portfolio {
    margin-bottom: 55px;
    background-color: $white;
    .portfolio-wrapper {
      background-color: $white;
      .portfolio-sections {
        z-index: 1;
        position: relative;
        background-color: $white;
        margin: 0 auto;
        margin-top: -65px;
        max-width: 89%;
        h1 {
          font-size: 40px !important;
          color: $black !important;
          margin: 0 0 90px 15px !important;
          padding-top: 47px !important;
          span {
            color: $light-green !important;
          }
        }
        .container {
          width: 100%;
          margin-bottom: 100px;
          .row {
            .portfolio-img-box {
              padding: 0;
              .box-bg {
                min-height: 441px;
                width: 100%;
                background-image: url(../images/news/Layer-1.jpg);
                background-size: cover;
                background-position: center right;
              }
            }
            .portfolio-text-box {
              padding: 0;
              .text-wrap {
                border-top: 6px solid $light-green;
                min-height: 431px;
                padding: 0 5px 0 15px;
                display: table;
                .box-text {
                  display: table-cell;
                  vertical-align: middle;
                  h3 {
                    font-size: 30px;
                    color: $black;
                    text-transform: uppercase;
                    margin: 0 0 15px 0;
                    line-height: 1;
                  }
                  p {
                    font-size: 20px;
                    color: $black;
                    line-height: 1.3;
                  }
                  a {
                    &.show-more {
                      font-size: 30px;
                      color: $light-green;
                      text-transform: lowercase;
                      float: right;
                      position: relative;
                      margin-bottom: 3px;
                      &:after {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        right: 40%;
                        height: 2px;
                        background-color: $light-green;
                        width: 150%;
                        transition: 0.5s
                      }
                      &:hover {
                        &:after {
                          right: 0;
                          width: 100%;
                        }
                      }
                    }
                  }
                }
              }
            }
            &:nth-child(even) {
              .portfolio-text-box {
                float: left;
              }
              .portfolio-img-box {
                float: right;
              }
            }
            &:nth-child(odd) {
              .portfolio-text-box {
                float: right;
              }
              .portfolio-img-box {
                float: left;
              }
            }
            &:first-child {
              .portfolio-img-box {
                .box-bg {
                  background-image: url(../images/news/Layer-1.jpg);
                }
              }
            }
            &:nth-child(2) {
              .portfolio-img-box {
                .box-bg {
                  background-image: url(../images/news/Layer-2.jpg);
                }
              }
            }
            &:nth-child(3) {
              .portfolio-img-box {
                .box-bg {
                  background-image: url(../images/news/Layer-3.jpg);
                }
              }
            }
            &:last-child {
              .portfolio-img-box {
                .box-bg {
                  background-image: url(../images/news/Layer-4.jpg);
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  section {
    &.section-portfolio {
      .portfolio-wrapper {
        .portfolio-sections {
          .portfolio-text-box {
            .text-wrap {
              .box-text {
                h3 {
                  font-size: 25px !important;
                }
                p {
                  font-size: 19px !important;
                }
                a {
                  &.show-more {
                    font-size: 25px !important;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}