$white: #ffffff;
$black: #000000;
$navbar-border-color: #919192;
$light-green: #90ad3e;
$sky-green: #dde5c4;
$sky-green: #eeefe7;
$green-box-bg: #aebf6f;
$gray-box-bg: #636466;
$content-main-text-color: #7b7b79;
$light-gray: #f3f3f3;
$title-color: #545454;
$portfolio-imgBox-hover-bg: #2e5d5a;
$angle-color: #3d3d3d;
$contact-title-color: #3d3f52;
$contact-border-color: #d4d4d4;
$contact-text-color: #505050;
$back-link-border-color: #d5d5d5;
$news-box-color: #f0f0f0;