$white: #ffffff;
$main_green: #00ad68;
$gray: #4a4a4a;
$lightGray: #7c7c7c;
$beige: #f1f1f1;
$navbar-bg: #2f2e33;
$orange: #f7b655;
$lightGray: #5c5c5c;
$input-border-color: #a1a1a1;
$footer-phone-link-color: #3f3f3f;