<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta content="" name="description"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="stylesheet" href="../css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/main.css"/>
    <title>About</title>
</head>
<body>

<header class="about-header">
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../index.html">
                    <img src="../images/logo.png" alt="logo">
                </a>
            </div>
            <div class="collapse navbar-collapse pull-right" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="../index.html">home</a></li>
                    <li class="active"><a href="about.html">about anna</a></li>
                    <li><a href="portfolio.html">portfolio</a></li>
                    <li><a href="news.html">news & tips</a></li>
                    <li><a href="press.html">press</a></li>
                    <li><a href="contact.html">contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<section class="section-about">
    <div class="person-info-wrapper">
        <div class="person-description">
            <div class="main-description">
                <h1>auckland <span>interior</span></h1>
                <h1>designer anna cuthbert</h1>
                <p>I started my career as an Interior Designer 21 years ago and spent my childhood in the
                    Interior Design industry through our family business. I am an Auckland based Interior
                    Designer with a University degree behind me and Honours in Design from the renowned
                    KLC School of Design in London. I have completed interior Design projects all over New
                    Zealand and around the world.
                </p>
                <p>I’m not your average interior designer, employing an understanding of the fundamentals
                    of Interior Design I instinctively put together taste, style, pattern and colour to create for
                    you a home which is a pleasure to live in. Good interior design is about creating real homes
                    and spaces that work for those living or working within them and with elegance and timeless
                    appeal.
                </p>
                <img src="../images/about/about-page-person.jpg" alt="person-image" class="img-responsive">
                <p>A home is an extension of those within and that’s why I first spend time getting a greater
                    appreciation of your needs, rather than just recommending the latest trends in the industry
                    that will inevitably soon show their age.
                    I can also take the stress out of your interior design project, managing your renovations,
                    recommending and/or liaising with the other trades and professionals to ensure you get
                    what you want and that you realise your vision.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="section-support">
    <div class="text-content">
        <h1>Got a question?</h1>
        <h3>We’re here to help. Check out our FAQs, send us an
            email or call us at 021 379 208
        </h3>
        <div class="buttons-wrapper">
            <a href="#" class="support-logo-button"></a>
            <a href="contact.html" class="contact">contact us</a>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="footer-item firm-description">
                    <img src="../images/logo.png" alt="logo">
                    <p class="description-text">
                        This is Photoshop's version of Lorem Ipsn ida nibh vel
                        velit auctor aliquet. Aenean sollicitudin, lorem quis
                        bibendum auci elit consequat ipsutis sem nibh id
                        elit she.
                    </p>
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        <li><a href="#"></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 col-lg-offset-1">
                <div class="footer-item help">
                    <h5 class="title">help</h5>
                    <ul class="inner-titles">
                        <li><a href="#">Safety and Trust</a></li>
                        <li><a href="#">Terms and Services</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                <div class="footer-item company">
                    <h5 class="title">company</h5>
                    <ul class="inner-titles">
                        <li><a href="../index.html">Home</a></li>
                        <li><a href="about.html">About Anna</a></li>
                        <li><a href="portfolio.html">Portfolio</a></li>
                        <li><a href="news.html">News & Tips</a></li>
                        <li><a href="press.html">Press</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
                <div class="footer-item img-wrapper">
                    <img src="../images/footer-sm-bg-1.jpg" alt="img">
                    <img src="../images/footer-sm-bg-2.jpg" alt="img">
                    <img src="../images/footer-sm-bg-3.jpg" alt="img">
                    <img src="../images/footer-sm-bg-4.jpg" alt="img">
                    <img src="../images/footer-sm-bg-5.jpg" alt="img">
                    <img src="../images/footer-sm-bg-6.jpg" alt="img">
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="../js/js-libs.min.js"></script>
<script src="../js/common.js"></script>
</body>
</html>