<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta content="" name="description"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="stylesheet" href="../css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/main.css"/>
    <title>News Inner</title>
</head>
<body>

<header class="news-header">
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../index.html">
                    <img src="../images/logo.png" alt="logo">
                </a>
            </div>
            <div class="collapse navbar-collapse pull-right" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="../index.html">home</a></li>
                    <li><a href="about.html">about anna</a></li>
                    <li><a href="portfolio.html">portfolio</a></li>
                    <li class="active"><a href="news.html">news & tips</a></li>
                    <li><a href="press.html">press</a></li>
                    <li><a href="contact.html">contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<section class="section-news-inner">
    <div class="news-wrapper">
        <div class="news-inner-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-sm-12-col-md-6 col-lg-6 text-content">
                        <div class="title-wrapper">
                            <h1>graceful remuera home</h1>
                            <h3>landscape wallpaper</h3>
                        </div>
                        <p>
                            Harlequin’s new collection of abstract and impressionistic non woven wallpapers,
                            has captured the spirit of Scandinavian skies, to produce Landscapes, a modern-
                            day collection.
                        </p>
                        <p>
                            The collection consists of 26 wallpapers in six designs, including artistic
                            impressions of patchwork fields, mountain ranges, rolling hills and coastal
                            seascapes, all of which are placed against a background of the horizon.This new
                            collection’s patterns are printed in subtle shades, giving a sense of watery
                            brushstrokes, while the colours play with light and shade. The collection uses soft
                            diluted tones in combination with strong, earthy shades, such as sky and teal, ink
                            and sea glass, smoke and charcoal, pebble and slate, grass and mustard, soft
                            clover, mandarin, pomegranate and amethyst.
                            Each design makes its own statement if used alone, but can be mixed together
                            with other Landscapes patterns or colours to create your own personal work of art.
                            To view this elegant collection,contact me for a viewing.
                        </p>
                        <span>anna</span>
                    </div>
                    <div class="col-xs-12 col-sm-12-col-md-6 col-lg-6 img-content">
                        <img src="../images/news/news-inner-main-img.jpg" alt="img"
                             class="img-responsive">
                    </div>
                </div>
                <div class="row">
                    <div class="news-tiles">
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 tile about-designers">
                            <h6>the designers institute</h6>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting
                                industry. Lorem Ipsum has been the industry's standard dummy
                                text ever since the 1500s.
                            </p>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 tile with-logo">
                            <a href="#">
                                <img src="../images/news/news-inner-tile-logo.png" alt="log">
                            </a>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting
                                industry. Lorem Ipsum has been the industry's standard dummy
                                text ever since the 1500s, when an unknown printer took a galley
                                of type and scrambled it to make a type specimen book.
                            </p>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 tile get-in-touch">
                            <div class="text-link">
                                <h3>any questions ?</h3>
                                <a href="#">get in touch</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 back-link">
                        <a href="news.html" class="back">
                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                            <span>back to news & tips</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="footer-item firm-description">
                    <img src="../images/logo.png" alt="logo">
                    <p class="description-text">
                        This is Photoshop's version of Lorem Ipsn ida nibh vel
                        velit auctor aliquet. Aenean sollicitudin, lorem quis
                        bibendum auci elit consequat ipsutis sem nibh id
                        elit she.
                    </p>
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        <li><a href="#"></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 col-lg-offset-1">
                <div class="footer-item help">
                    <h5 class="title">help</h5>
                    <ul class="inner-titles">
                        <li><a href="#">Safety and Trust</a></li>
                        <li><a href="#">Terms and Services</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                <div class="footer-item company">
                    <h5 class="title">company</h5>
                    <ul class="inner-titles">
                        <li><a href="../index.html">Home</a></li>
                        <li><a href="about.html">About Anna</a></li>
                        <li><a href="portfolio.html">Portfolio</a></li>
                        <li><a href="news.html">News & Tips</a></li>
                        <li><a href="press.html">Press</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
                <div class="footer-item img-wrapper">
                    <img src="../images/footer-sm-bg-1.jpg" alt="img">
                    <img src="../images/footer-sm-bg-2.jpg" alt="img">
                    <img src="../images/footer-sm-bg-3.jpg" alt="img">
                    <img src="../images/footer-sm-bg-4.jpg" alt="img">
                    <img src="../images/footer-sm-bg-5.jpg" alt="img">
                    <img src="../images/footer-sm-bg-6.jpg" alt="img">
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="../js/js-libs.min.js"></script>
<script src="../js/common.js"></script>
</body>
</html>