footer {
  margin-top: 95px;
  padding-bottom: 45px;
  background-color: $white;
  .footer-block {
    margin-top: 20px;
    h4 {
      &.block-title {
        font-size: 24px;
        font-weight: 500;
        color: $nav_color;
        text-transform: capitalize;
        line-height: normal;
        margin-bottom: 17px;
      }
    }
    &.info {
      a {
        &.footer-logo-holder {
          display: block;
          margin-bottom: 20px;
          img {
            width: 159px;
            height: 23px;
          }
        }
      }
      p {
        &.info-text {
          font-size: 13px;
          font-weight: 300;
          color: $nav_color;
          line-height: normal;
        }
        &.copyright {
          font-size: 13px;
          font-weight: 300;
          line-height: normal;
          color: $gray;
        }
      }
    }
    &.contact {
      border-left: 1px solid $gray;
      border-right: 1px solid $gray;
      padding: 0 15px;
      ul {
        &.footer-contact-menu {
          li {
            width: 100%;
            display: inline-flex;
            align-items: center;
            a {
              font-size: 13px;
              font-weight: 300;
              color: $gray;
              line-height: normal;
              margin-left: 10px;
              transition: all 0.3s ease-in;
              &:hover {
                color: $nav_account_color;
              }
            }
            & + li {
              margin-top: 14px;
            }
          }
        }
      }
    }
    &.social {
      p {
        &.follow {
          font-size: 13px;
          font-weight: 300;
          color: $gray;
          margin-bottom: 20px;
        }
      }
      ul {
        &.footer-social-menu {
          width: 100%;
          display: inline-flex;
          li {
            & + li {
              margin-left: 10px;
            }
            a {
              display: block;
              img {
                width: 36px;
                height: 31px;
              }
            }
          }
        }
      }
    }
  }
}
