header {
  .navbar {
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    border-radius: 0;
    transition: background-color 0.7s ease;
    border: none;
    &.overlayed {
      background-color: $white;
      .navbar-collapse {
        ul {
          &.nav {
            li {
              a {
                color: $nav_color;
              }
            }
          }
        }
      }
    }
    &.is-opened {
      .navbar-header {
        button {
          padding-top: 16px;
          padding-bottom: 16px;
          span {
            &:first-child {
              margin-bottom: -8px;
              transform: rotate(45deg);
            }
            &:nth-child(2) {
              transform: translateX(-160%);
            }
            &:last-child {
              transform: rotate(-45deg);
              margin-top: 0;
            }
          }
        }
      }
    }
    .navbar-header {
      .navbar-brand {
        height: initial;
        padding: 20px 15px;
        margin-left: 0;
      }
      button {
        padding: 10px;
        margin: 13px 15px 0 0;
        border: 1px solid $nav_color;
        overflow: hidden;
        span {
          background-color: $nav_color;
          transition: transform 0.2s ease;
          display: block;
        }
      }
    }
    .navbar-collapse {
      padding: 0;
      border: none;
      box-shadow: none;
      ul {
        &.nav {
          li {
            position: relative;
            &:after {
              content: '';
              position: absolute;
              height: 2px;
              background: $nav_color;
              bottom: 0;
              left: 0;
              transition: all 0.7s ease;
            }
            &:hover {
              &:not(.active) {
                &:after {
                  animation-duration: 0.7s;
                  animation-name: show-line;
                  width: 100%;
                  @keyframes show-line {
                    0% {
                      opacity: 0;
                      width: 0;
                    }
                    100% {
                      opacity: 1;
                      width: 100%;
                    }
                  }
                }
                a {
                  color: $nav_color;
                }
              }

            }
            &.active {
              &:after {
                width: 100%;
              }
              a {
                color: $nav_color;
              }
            }
            &.account {
              a {
                color: $nav_account_color;
                border: 1px solid $nav_account_color;
                padding: 0 5px !important;
                line-height: 40px;
                border-radius: 3px;
                transition: all 0.5s ease-out;
              }
              &:after {
                display: none;
              }
              &:hover {
                background-color: $nav_account_color;
                border-radius: 3px;
                a {
                  color: $white;
                }
              }
              &.active {
                background-color: $nav_account_color;
                border-radius: 3px;
                a {
                  color: $white;
                }
              }
            }
            & + li {
              margin-left: 20px;
            }
            a {
              padding: 0 !important;
              line-height: 40px;
              font-size: 18px;
              color: $white;
              cursor: pointer;
              text-transform: capitalize;
              transition: all 0.7s;
              &:hover {
                background-color: transparent;
              }
              &:focus {
                background-color: transparent;
              }
            }
          }
        }
      }
    }
  }
}

