$white: #ffffff;
$nav_color: #113b47;
$nav_account_color: #006c6d;
$deep_aqua: #0aa5a6;
$gray: #919191;
$deep_blue: #002d3a;
$smoke_gray: #a2a2a2;
$light_gray: #e4e4e4;
$dark_gray: #5b5b5b;
$beige: #f6f6f6;