footer {
  margin-top: 100px;
  border-top: 2px solid $gray-violet;
  padding: 15px 0;
  .footer-content-holder {
    max-width: 63%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    line-height: 1;
    p {
      margin: 0;
      font-weight: 300;
      font-size: 13px;
      color: $gray;
    }
    ul {
      &.footer-menu {
        display: inline-flex;
        li {
          line-height: 1;
          &:first-child {
            margin-right: 15px;
          }
          a {
            color: $gray;
            font-size: 12px;
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  footer {
    .footer-content-holder {
      p {
        display: block;
        width: 100%;
        margin-bottom: 5px;
      }
    }
  }
}