/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `simple_landing` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

@font-face {
  font-family: 'Metropolis';
  src: url("../fonts/Metropolis-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Metropolis';
  src: url("../fonts/Metropolis-ExtraLight.otf") format("opentype");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Metropolis';
  src: url("../fonts/Metropolis-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Metropolis';
  src: url("../fonts/Metropolis-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Metropolis';
  src: url("../fonts/Metropolis-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Metropolis';
  src: url("../fonts/Metropolis-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Metropolis';
  src: url("../fonts/Metropolis-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Metropolis';
  src: url("../fonts/Metropolis-ExtraBold.otf") format("opentype");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'Metropolis';
  src: url("../fonts/Metropolis-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Metropolis';
  src: url("../fonts/Metropolis-ThinItalic.otf") format("opentype");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: 'Metropolis';
  src: url("../fonts/Metropolis-ExtraLightItalic.otf") format("opentype");
  font-weight: 200;
  font-style: italic; }

@font-face {
  font-family: 'Metropolis';
  src: url("../fonts/Metropolis-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Metropolis';
  src: url("../fonts/Metropolis-RegularItalic.otf") format("opentype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Metropolis';
  src: url("../fonts/Metropolis-MediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'Metropolis';
  src: url("../fonts/Metropolis-SemiBoldItalic.otf") format("opentype");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: 'Metropolis';
  src: url("../fonts/Metropolis-BoldItalic.otf") format("opentype");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Metropolis';
  src: url("../fonts/Metropolis-ExtraBoldItalic.otf") format("opentype");
  font-weight: 800;
  font-style: italic; }

@font-face {
  font-family: 'Metropolis';
  src: url("../fonts/Metropolis-BlackItalic.otf") format("opentype");
  font-weight: 900;
  font-style: italic; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Metropolis', sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

a {
  text-decoration: none;
  cursor: pointer; }
  a:hover {
    text-decoration: none; }
  a:focus {
    text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

header .navbar {
  margin: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1; }
  header .navbar.is-opened .navbar-header button {
    padding-top: 16px;
    padding-bottom: 16px; }
    header .navbar.is-opened .navbar-header button span:first-child {
      margin-bottom: -8px;
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg); }
    header .navbar.is-opened .navbar-header button span:nth-child(2) {
      -webkit-transform: translateX(-160%);
          -ms-transform: translateX(-160%);
              transform: translateX(-160%); }
    header .navbar.is-opened .navbar-header button span:last-child {
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg);
      margin-top: 0; }
  header .navbar .navbar-header .navbar-brand {
    height: initial;
    padding: 21px 15px; }
  header .navbar .navbar-header button {
    padding: 10px;
    margin: 25px 10px 25px 0;
    border: 1px solid #00ad68;
    overflow: hidden; }
    header .navbar .navbar-header button span {
      background-color: #00ad68;
      -webkit-transition: -webkit-transform 0.2s ease;
      transition: -webkit-transform 0.2s ease;
      -o-transition: transform 0.2s ease;
      transition: transform 0.2s ease;
      transition: transform 0.2s ease, -webkit-transform 0.2s ease;
      display: block; }
  header .navbar .navbar-collapse {
    padding: 0;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none; }
    header .navbar .navbar-collapse ul.nav li a {
      padding: 0 !important;
      line-height: 70px;
      font-size: 18px;
      color: #ffffff;
      cursor: pointer;
      text-transform: capitalize;
      font-weight: 300;
      -webkit-transition: color 0.7s ease;
      -o-transition: color 0.7s ease;
      transition: color 0.7s ease; }
      header .navbar .navbar-collapse ul.nav li a:hover {
        background-color: transparent; }
      header .navbar .navbar-collapse ul.nav li a:focus {
        background-color: transparent; }
    header .navbar .navbar-collapse ul.nav li.active a {
      color: #00ad68; }
    header .navbar .navbar-collapse ul.nav li + li {
      margin-left: 20px; }

header.home-page_header {
  min-height: 630px;
  max-height: 630px;
  background-image: url(../images/home_header_bg.jpg);
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 116px; }
  header.home-page_header .page-information-wrapper {
    padding-top: 160px; }
    header.home-page_header .page-information-wrapper .text-holder {
      margin-top: 64px; }
      header.home-page_header .page-information-wrapper .text-holder .main_title {
        color: #ffffff;
        font-size: 35px;
        text-transform: inherit; }
        header.home-page_header .page-information-wrapper .text-holder .main_title span {
          color: #00ad68; }
      header.home-page_header .page-information-wrapper .text-holder a.download {
        margin: 40px 0 20px 0;
        max-width: 260px;
        height: 60px;
        -webkit-border-radius: 5px;
                border-radius: 5px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: space-around;
            -ms-flex-pack: distribute;
                justify-content: space-around;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        background-color: #ffffff; }
        header.home-page_header .page-information-wrapper .text-holder a.download img {
          height: 80%; }
        header.home-page_header .page-information-wrapper .text-holder a.download span {
          font-size: 24px;
          line-height: normal;
          font-weight: normal;
          color: #00ad68;
          text-transform: uppercase; }
    header.home-page_header .page-information-wrapper .img-holder img {
      width: 100%; }

@media (max-width: 767px) {
  header.home-page_header .page-information-wrapper .text-holder h1.main_title {
    font-size: 30px; }
  header.home-page_header .page-information-wrapper .text-holder a.download {
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
    height: 40px; }
    header.home-page_header .page-information-wrapper .text-holder a.download span {
      font-size: 18px; } }

@media (max-width: 991px) {
  header.home-page_header .page-information-wrapper .img-holder {
    display: none; } }

@media (max-width: 1199px) {
  header.home-page_header {
    max-height: 100%; } }

section.section-content .section.presentation {
  padding-bottom: 120px; }
  section.section-content .section.presentation .box {
    min-height: 488px;
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; }
    section.section-content .section.presentation .box.text {
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around;
      padding: 0 10px;
      min-height: 488px;
      -webkit-box-orient: vertical !important;
      -webkit-box-direction: normal !important;
      -webkit-flex-flow: column wrap !important;
          -ms-flex-flow: column wrap !important;
              flex-flow: column wrap !important;
      -webkit-box-shadow: 0px 4px 27px 0px rgba(5, 5, 5, 0.09) !important;
              box-shadow: 0px 4px 27px 0px rgba(5, 5, 5, 0.09) !important; }
      section.section-content .section.presentation .box.text h4 {
        font-size: 28px;
        font-weight: 500;
        color: #00ad68;
        position: relative; }
        section.section-content .section.presentation .box.text h4:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          height: 1px;
          background-color: #4a4a4a;
          width: 18%; }
      section.section-content .section.presentation .box.text p {
        color: #4a4a4a;
        font-size: 20px;
        font-weight: normal;
        margin: 0;
        text-transform: inherit; }
        section.section-content .section.presentation .box.text p:last-of-type {
          font-size: 17px;
          color: #5c5c5c; }
      section.section-content .section.presentation .box.text a.show-more {
        -webkit-flex-basis: 40px;
            -ms-flex-preferred-size: 40px;
                flex-basis: 40px;
        -webkit-align-self: flex-end;
            -ms-flex-item-align: end;
                align-self: flex-end;
        width: 100px;
        border: 1px solid #00ad68; }
        section.section-content .section.presentation .box.text a.show-more span {
          text-align: center;
          display: block;
          line-height: 40px;
          text-transform: lowercase;
          color: #00ad68;
          font-weight: normal;
          font-size: 20px; }
    section.section-content .section.presentation .box.img {
      padding: 0;
      -webkit-box-align: center !important;
      -webkit-align-items: center !important;
          -ms-flex-align: center !important;
              align-items: center !important; }
      section.section-content .section.presentation .box.img img {
        width: 100%; }

section.section-content .section.offers {
  padding: 60px 0;
  background-color: #f1f1f1; }
  section.section-content .section.offers .container .row div[class^=col] {
    margin: 15px 0; }
  section.section-content .section.offers .container .row .box {
    background-color: #ffffff;
    min-height: 200px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column wrap;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    section.section-content .section.offers .container .row .box .icon-holder {
      border: none;
      border-bottom: 1px solid #00ad68;
      padding-bottom: 15px; }
    section.section-content .section.offers .container .row .box p {
      margin: 20px 0 0 0;
      font-size: 18px;
      color: #4a4a4a;
      font-weight: normal;
      text-align: center;
      text-transform: capitalize; }

section.section-content .section.partners {
  padding: 70px 0 200px 0;
  background-color: #ffffff; }
  section.section-content .section.partners .partners-wrapper {
    max-width: 1170px !important;
    margin: 0 auto;
    padding: 0 15px; }
    section.section-content .section.partners .partners-wrapper img {
      margin-bottom: 20px; }
    section.section-content .section.partners .partners-wrapper ul.partners-list {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      section.section-content .section.partners .partners-wrapper ul.partners-list li {
        margin: 10px; }
        section.section-content .section.partners .partners-wrapper ul.partners-list li a {
          display: block; }
          section.section-content .section.partners .partners-wrapper ul.partners-list li a img {
            display: block;
            margin: 0 auto; }
      section.section-content .section.partners .partners-wrapper ul.partners-list:first-of-type {
        padding-bottom: 50px;
        border: none;
        border-bottom: 1px solid #4a4a4a; }
      section.section-content .section.partners .partners-wrapper ul.partners-list:last-of-type {
        padding-top: 50px; }

section.section-content .section.download {
  background-image: url(../images/download-bg.jpg);
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center center;
  min-height: 532px;
  max-height: 532px; }
  section.section-content .section.download .phone-bg img {
    margin-top: -85px;
    height: 100%;
    max-width: 100%;
    width: initial; }
  section.section-content .section.download .download-inner-content {
    margin-top: 200px; }
    section.section-content .section.download .download-inner-content h2 {
      position: relative;
      text-transform: uppercase;
      font-size: 33px;
      color: #ffffff;
      padding-bottom: 3px; }
      section.section-content .section.download .download-inner-content h2:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 1px;
        background-color: #ffffff;
        width: 90px; }
    section.section-content .section.download .download-inner-content .notes-wrapper {
      margin-top: 40px;
      width: 100%;
      display: -webkit-inline-box !important;
      display: -webkit-inline-flex !important;
      display: -ms-inline-flexbox !important;
      display: inline-flex !important;
      -webkit-flex-wrap: wrap !important;
          -ms-flex-wrap: wrap !important;
              flex-wrap: wrap !important; }
      section.section-content .section.download .download-inner-content .notes-wrapper p {
        color: #ffffff;
        margin: 0;
        font-weight: 300;
        font-size: 20px;
        text-transform: capitalize; }
        section.section-content .section.download .download-inner-content .notes-wrapper p:first-child {
          padding-right: 20px;
          position: relative; }
          section.section-content .section.download .download-inner-content .notes-wrapper p:first-child:after {
            content: '';
            position: absolute;
            right: 0;
            top: 3px;
            height: 21px;
            width: 1px;
            background-color: #ffffff; }
        section.section-content .section.download .download-inner-content .notes-wrapper p:last-child {
          padding-left: 20px; }
    section.section-content .section.download .download-inner-content .download-links-wrapper {
      margin-top: 25px; }
      section.section-content .section.download .download-inner-content .download-links-wrapper a {
        display: inline-block; }
        section.section-content .section.download .download-inner-content .download-links-wrapper a:first-child {
          margin-right: 20px; }
        section.section-content .section.download .download-inner-content .download-links-wrapper a img {
          -webkit-border-radius: 10px;
                  border-radius: 10px; }

section.section-content .section.subscribe {
  padding: 150px 0; }
  section.section-content .section.subscribe h2 {
    text-transform: uppercase;
    color: #4a4a4a;
    font-size: 38px;
    line-height: normal;
    font-weight: 600; }
    section.section-content .section.subscribe h2 span {
      color: #f7b655; }
  section.section-content .section.subscribe p {
    font-size: 23px;
    font-weight: normal;
    color: #5c5c5c;
    margin: 65px 0 25px 0; }
  section.section-content .section.subscribe form {
    color: #5c5c5c;
    height: 80px;
    font-size: 0; }
    section.section-content .section.subscribe form #email {
      font-size: 21px;
      font-weight: normal;
      width: 70%;
      padding-left: 28px;
      height: 100%;
      display: inline-block;
      vertical-align: top;
      border: 1px solid #a1a1a1;
      border-right-color: transparent;
      outline: none; }
    section.section-content .section.subscribe form #submit {
      color: #ffffff;
      width: 22%;
      height: 100%;
      display: inline-block;
      vertical-align: top;
      font-size: 26px;
      border: none;
      background-color: #00ad68;
      outline: none; }

@media (max-width: 479px) {
  section.section-content section.download .download-inner-content .notes-wrapper p {
    font-size: 18px !important; }
    section.section-content section.download .download-inner-content .notes-wrapper p:first-child {
      padding-right: 10px !important; }
      section.section-content section.download .download-inner-content .notes-wrapper p:first-child:after {
        top: 1px !important; }
    section.section-content section.download .download-inner-content .notes-wrapper p:last-child {
      padding-left: 10px !important; }
  section.section-content section.download .download-inner-content .download-links-wrapper {
    width: 100%;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    section.section-content section.download .download-inner-content .download-links-wrapper a:first-child {
      margin-right: 5px !important; }
  section.section-content section.subscribe h2 {
    font-size: 28px !important; }
  section.section-content section.subscribe p {
    font-size: 20px !important; }
  section.section-content section.subscribe form {
    height: auto !important; }
    section.section-content section.subscribe form #email {
      font-size: 19px !important;
      height: 40px !important;
      margin-bottom: 20px;
      width: 100% !important;
      display: block;
      border-right-color: #a1a1a1 !important;
      -webkit-border-radius: 4px;
              border-radius: 4px; }
    section.section-content section.subscribe form #submit {
      height: 40px !important;
      width: auto !important;
      display: block !important;
      margin: 0 auto;
      font-size: 20px !important;
      -webkit-border-radius: 4px;
              border-radius: 4px; } }

@media (min-width: 480px) and (max-width: 767px) {
  section.section-content section.subscribe form #email {
    font-size: 19px !important;
    height: 40px !important; }
  section.section-content section.subscribe form #submit {
    height: 40px !important;
    width: 30% !important;
    font-size: 20px !important; } }

@media (max-width: 767px) {
  section.section-content section.partners .partners-wrapper ul.partners-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center !important;
    -webkit-justify-content: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important; } }

@media (max-width: 1023px) {
  section.section-content section.partners .partners-wrapper ul.partners-list {
    -webkit-box-pack: center !important;
    -webkit-justify-content: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important; }
    section.section-content section.partners .partners-wrapper ul.partners-list li {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
          -ms-flex: 1;
              flex: 1; } }

@media (max-width: 1199px) {
  section.section-content section.download .phone-bg {
    display: none; }
  section.section-content section.download .download-inner-content {
    margin-top: 200px !important;
    margin: 0 auto;
    float: none; } }

footer {
  padding: 80px 0;
  background-color: #f1f1f1; }
  footer a {
    -webkit-transition: color 0.3s ease-in !important;
    -o-transition: color 0.3s ease-in !important;
    transition: color 0.3s ease-in !important; }
    footer a:hover {
      color: #00ad68 !important; }
  footer h3.title {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 25px; }
  footer .container {
    position: relative; }
    footer .container:after {
      position: absolute;
      content: url("../images/footer-airplane.png");
      top: -190px;
      right: 100px; }
  footer .contact {
    margin-bottom: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    footer .contact img {
      -webkit-align-self: flex-start;
          -ms-flex-item-align: start;
              align-self: flex-start;
      margin-bottom: 25px; }
    footer .contact .link-wrap {
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      width: 100%; }
      footer .contact .link-wrap img {
        margin-right: 15px;
        margin-left: 5px;
        margin-bottom: 0 !important; }
      footer .contact .link-wrap a {
        -webkit-align-self: flex-start;
            -ms-flex-item-align: start;
                align-self: flex-start;
        color: #3f3f3f;
        font-weight: 300;
        font-size: 16px; }
      footer .contact .link-wrap:last-of-type {
        margin-top: 10px; }
  footer .company, footer .more {
    margin-bottom: 20px; }
    footer .company ul li, footer .more ul li {
      line-height: normal; }
      footer .company ul li + li, footer .more ul li + li {
        margin-top: 10px; }
      footer .company ul li a, footer .more ul li a {
        font-weight: 300;
        font-size: 14px;
        color: #5c5c5c;
        text-transform: capitalize; }
  footer .social {
    margin-bottom: 20px; }
    footer .social h3.title {
      margin-bottom: 18px !important; }
    footer .social ul {
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      width: 100%; }
      footer .social ul li:hover a > img {
        -webkit-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
                transform: rotate(360deg); }
      footer .social ul li a {
        display: block; }
        footer .social ul li a img {
          -webkit-transition: -webkit-transform 0.5s ease;
          transition: -webkit-transform 0.5s ease;
          -o-transition: transform 0.5s ease;
          transition: transform 0.5s ease;
          transition: transform 0.5s ease, -webkit-transform 0.5s ease; }
      footer .social ul li + li {
        margin-left: 18px; }

p.copyright {
  font-weight: 300;
  background-color: #ffffff;
  padding: 20px 15px;
  max-width: 1170px !important;
  margin: 0 auto !important; }

@media (max-width: 767px) {
  footer .container:after {
    right: 25px; }
  footer .contact img {
    display: block;
    margin-bottom: 25px !important;
    margin: 0 auto; }
  footer .contact .link-wrap {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  footer .company h3.title, footer .more h3.title {
    text-align: center; }
  footer .company ul li, footer .more ul li {
    text-align: center; }
  footer .social h3.title {
    text-align: center; }
  footer .social ul {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; } }

@media (max-width: 767px) {
  header .navbar {
    background-color: #2f2e33; }
    header .navbar .navbar-collapse {
      float: none !important;
      background-color: #2f2e33;
      overflow: hidden; }
      header .navbar .navbar-collapse ul.nav li {
        max-width: 150px;
        margin: 0 auto; }
        header .navbar .navbar-collapse ul.nav li a {
          text-align: center;
          line-height: 60px; }
        header .navbar .navbar-collapse ul.nav li + li {
          margin: 0 auto; } }
